<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Xanh Hòa Lạc</strong>
                </h4>
                <p>FPT University - Hòa Lạc
                    <br>Khu Công Nghệ Cao Km29 Đại Lộ Thăng Long Thạch Thất, Hà Nội</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (04) 7300 1866</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:daihoc@fpt.edu.vn">Daihoc@fpt.edu.vn</a></li>
                    <li><i class="fa fa-envelope-o fa-fw"></i><img src="/resources/logo.png" alt="HTML5 Icon" style="max-width: 100%; height: auto;"></li>
                </ul>
                <br>

                <hr class="small">
                <p class="text-muted">Copyright &copy; FPT Education 2017</p>
            </div>
        </div>
    </div>
</footer>