<!doctype html>
<html lang="en">
<head>
    <%- include template/header.ejs %>
    <link rel="stylesheet" media="screen" href="css/index.css">
    <title>GREEN HOA LAC - Xanh theo cách Hòa Lạc </title>
</head>
<body>
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center ">
        <h1 >Xanh Hòa Lạc</h1>
        <h3 >XANH THEO CÁCH HÒA LẠC</h3>
        <br>
        <a href="/api/auth/google/login" class="btn btn-dark btn-lg">Đăng Nhập</a>
    </div>
</header>
<%- include template/footer.ejs %>
</body>
</html>